.sponsors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sponsor-tier {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px 10%;
    width: 60%;
    flex-wrap: wrap;
}

.sponsor-logo {
    height: auto;
    width: 15vw;
    cursor: pointer;
}

.tier-title {
    background-color: #e52526;
    color: white;
    width: 80%;
    border-radius: 20px;
}