.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.link {
    color: white;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0; 
    background: white;
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.dropdown-link:hover {
    text-decoration: underline;
}

.sponsors-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow {
    height: 15px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}