.footer {
    background-color: #e52516;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;
  }
  
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .footer-section p,
  .footer-section ul {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-section ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    margin: 0 10px;
    cursor: pointer;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
  }
  