.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    width: auto;
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url(../../assets/fspt_group_photo.jpg);
    background-position: 0% 5%;
    background-size: cover;
}

.logo-white {
    width: 50%;
    height: auto;
}

.who-are-we-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    gap: 10vh;
}

.who-are-we-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    text-align: left;
}

.stats-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10%;
}

.fs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.fs-text {
    text-align: justify;
}

.classes-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.fs-class {
    width: 30%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-color: #e52516;
    color: white;
    text-align: center;
    transition: transform 0.3s ease;
}

.fs-class:hover {
    transform: translateY(-10px);
}

.class-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.class-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.class-background img.class-icon {
    width: 50px;
    height: 50px;
}

.class-background .class-title {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.class-text {
    opacity: 0;
    font-size: 1em;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
}

.fs-class:hover .class-background {
    opacity: 0;
}

.fs-class:hover .class-text {
    opacity: 1;
}
